@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

html,
body {
  color: white;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  margin: 0;
	padding: 0;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

ul.navbar {
  margin-left: 0;
  margin-top: 0px;
  /* Parent background + Gaussian blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Exclusion blend */
  background-blend-mode: exclusion;

  /* Color/tint overlay + Opacity */
  background: rgba(0, 0, 0, .2);
  color: white;
  padding: 8px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

li.navbar {
  display: inline;
  font-weight: 600;
  padding: 15px;
}

li.navbar:hover {
  color: #ff6f59ff;
}

footer {
  background-color: #0e0e0e;
  padding: 50px;
  color: white;
  font-weight: 600;
}

a.footer {
  color: rgb(146, 146, 146);
  font-weight: 400;
}

a.footer:hover {
  text-decoration: underline;
}

.grey {
  color: rgb(146, 146, 146);
  font-weight: 500;
}

hr {
  height: 2px;
  border: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255, 0.2);
}

.hometop {
  text-align: center;
  padding: 50px;
}

.homepage-top-img {
  float: right;
  margin-top: -120px;
  margin-right: -130px;
}

a {
  color: #1789FC;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

a:hover {
  text-decoration: underline;
}

a.navbar {
  color: white;
  text-decoration: underline;
}

a.navbar:hover {
  color: rgb(255, 255, 255, 0.6);
}

a.padding, button {
  all: revert;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: white;
  color: black;
  transition: 150ms;
  font-weight: 600;
  font-size: 100%;
  margin: 5px;
  border: none;
}

a.padding:hover, button:hover {
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

a.padding .blue {
  color: #1789FC;
}
a.padding .blue:hover {
  color: #126cc5;
}

button.red {
  background-color: #f51d1d;
  color: white;
  border: none;
}

button.red:hover {
  background-color: rgb(185, 28, 28);
}

.totheright {
  float: right;
}

p {
  font-weight: 500;
}

.infocard {
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 70px;
  margin: 5px;
  text-align: left;
  width: 90%;
}

.infocard > * {
  padding-left: 30px;
}

.infocard img {
  transition: 150ms;
}

.card {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #383838;
  margin: 5px;
}

.waves {
  background-image: url("/pics/waves.svg");
  background-repeat: no-repeat;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}

.blobs {
  background-image: url("/pics/blobs.svg");

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
}

.waves2 {
  background-image: url("/pics/unlockapi/waves1.svg");
  background-repeat: no-repeat;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: left;
}

.genopi1 {
  background-image: url("/pics/genopi/main1.png");
  background-repeat: no-repeat;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  text-align: left;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

input, textarea {
  margin: 5px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255, 0.3);
  font-size: 100%;
  transition: 150ms;
}

input:hover, textarea:hover {
  border: 1px solid rgb(255, 255, 255, 0.5);
}

input:focus, textarea:focus {
  border: 1px solid #1789FC;
}

a.discord, button.discord {
  background-color: #5865F2;
  color: white;
  border: none;
}

a.discord:hover, button.discord:hover {
  background-color: rgb(74, 85, 202);
}

  /* Now all the acrylic layer is just only one class! */
.acrylic {
  /* Parent background + Gaussian blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Exclusion blend */
  background-blend-mode: exclusion;

  /* Color/tint overlay + Opacity */
  background: rgba(0, 0, 0, .3);
  padding: 25px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.2);
}

.innerasignup {
  width: 30%;
  margin: 5px;
  text-align: 'left';
}

.heart {
  animation: heart-pulse 0.9s infinite ease-out;
  color: #EF3054;
}

@keyframes heart-pulse {
  0% {
    transform: scale(.7); /* scaling to 0 */
  }
  50% {
    transform: scale(1); /* increasing the size */
  }
  70% {
    transform: scale(0.8); /* decreasing the size */
  }
  100% {
    transform: scale(0.7); /* seeting back to initial size */
  }
}

.dynamiclayout {
  width: 30%;
}

@media screen and (max-width: 900px) {
  .dynamiclayout {
     width: 100%;
     flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .dynamiclayout {
     width: 30%;
     flex-direction: row;
  }
}

.vl {
  border-left: 6px solid rgb(255, 255, 255, 0.2);
}

.whyottopbanner {
  background-image: url("../public/pics/whyot/topbanner.png");
  background-repeat: no-repeat;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  background-color: rgb(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  text-align: center;
}

.codefont {
  font-family: 'Space Mono', monospace;
}

a.socials {
  color: white;
  padding: 7px;
  border-radius: 4px;
  transition: 150ms;
  background-color: rgb(255, 255, 255, 0.15);
}

a.socials:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

a.boxy {
  padding: 55px 65px;
  border-radius: 10px;
  margin: 5px;
  font-weight: 700;
  box-shadow: 
    0px 0px 16px 0 rgba(0, 0, 0, 0.15);
  transition: 150ms;
}

a.boxy:hover {
  box-shadow: 
    0px 0px 16px 0 rgba(0, 0, 0, 0.2);
}

.ProseMirror {
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 0px;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  outline: none;
}

button.thin {
  padding: 6px;
  border-radius: 3px;
  color: black;
  background-color: rgb(0, 0, 0, 0);
}

button.thin:hover {
  background-color: rgb(0, 0, 0, 0.25);
}

button.thin-active {
  padding: 6px;
  border-radius: 3px;
  color: white;
  background-color: rgb(0, 0, 0, 0.8);
}

.mini-divider {
  color: rgb(0, 0, 0, 0.3);
  padding-left: 5px;
  padding-right: 5px;
}

table, td, th {
  border: 1.5px solid;
  padding: 5px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}